@import "tailwindcss";



@theme inline {
  --color-background: var(--brand);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


